{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>All Cafes</h1>

        <table class="table">
          {% for row in cafes: %}
            {% if cafes.index(row) == 0: %}
              <thead>
                <tr>
                  {% for col in row: %}
                    <th scope="col">{{ col }}</th>
                  {% endfor %}
                </tr>
              </thead>
            {% else: %}
              <tbody>
                <tr>
                  {% for col in row: %}
                    {% if row.index(col) == 1: %}
                      <td>
                        <a href="{{ col }}">Maps Link</a>
                      </td>
                    {% else: %}
                      <td>{{ col }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              </tbody>
            {% endif %}
          {% endfor %}
        </table>

        <p><a href="{{ url_for('home') }}">Return to index page</a></p>

      </div>
    </div>
  </div>
{% endblock %}
