<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Zoárd's Personal Site</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <table cellspacing="20">
    <tr>
      <td>
        <img class="circular" src="images/zoard.jpg" alt="zoard-profile"/>
      </td>
      <td>
        <h1>Zoárd Ehmann</h1>
        <p>
          <em>Integration Developer - <strong><a href="https://www.ibm.com/kyndryl">IBM / Kyndryl</a></strong></em>
        </p>
        <ul>
          <li>Bridging solutions between ticketing tools based on field mapping</li>
          <li>XML and JSON data translations with XSLT</li>
          <li>Develop secure file transfer solutions</li>
          <li>Communication via SOAP & REST API calls</li>
          <li>Ensure secure network transactions with Apache</li>
          <li>Provide On-Call support to ensure client success</li>
          <li>Containerization model usage with Docker</li>
        </ul>
      </td>
    </tr>
  </table>
  <hr>
  <h3>Work Experience</h3>
  <table cellspacing="10">
    <thead>
      <tr>
        <th style="text-align:left">Date</th>
        <th style="text-align:left">Job Role</th>
        <th style="text-align:left">Company</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2020.02. - 2020.06.:</td>
        <td>Application Developer</td>
        <td>IBM</td>
      </tr>
      <tr>
        <td>2018.01. - 2020.02.:</td>
        <td>NPI Test Technician</td>
        <td>Valeo</td>
      </tr>
      <tr>
        <td>2016.06. - 2017.12.:</td>
        <td>Test Technician</td>
        <td>Valeo</td>
      </tr>
      <tr>
        <td>2015.06. - 2016.07.:</td>
        <td>Security technician Intern</td>
        <td>Nyugalom Kft.</td>
      </tr>
      <tr>
        <td>2015.03. - 2016.06.:</td>
        <td>Helpdesk Operator</td>
        <td>Invitel</td>
      </tr>
      <tr>
        <td>2014.06. - 2014.08.:</td>
        <td>Orchard Worker</td>
        <td>Veszprémi Mezőgazdasági Zrt.</td>
      </tr>
      <tr>
        <td>2010.06. - 2010.08.:</td>
        <td>Kitchen Assistant</td>
        <td>The Royal Oak Prestbury</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h3>Certificates</h3>
  <table>
    <tbody>
      <tr>
        <td>2021.06.:</td>
        <td>Docker</td>
        <td>Docker Essentials: A Developer Introduction</td>
      </tr>
      <tr>
        <td>2020.04.:</td>
        <td>Python</td>
        <td>Python 101 for Data Science</td>
      </tr>
      <tr>
        <td>2019.09.:</td>
        <td>Minitab</td>
        <td>Statistical Software (V19) User</td>
      </tr>
      <tr>
        <td>2019.04.:</td>
        <td>Keysight</td>
        <td>User Fundamental I-II. training</td>
      </tr>
      <tr>
        <td>2019.03.:</td>
        <td>Viscom</td>
        <td>vVision operator training</td>
      </tr>
      <tr>
        <td>2018.05.:</td>
        <td>Keysight</td>
        <td>i3070 technician training</td>
      </tr>
      <tr>
        <td>2018.03.:</td>
        <td>Viscom</td>
        <td>Statistical Process Control</td>
      </tr>
      <tr>
        <td>2018.03.:</td>
        <td>Viscom</td>
        <td>Advanced Programming SI</td>
      </tr>
      <tr>
        <td>2017.07.:</td>
        <td>IPC-A-610</td>
        <td>Acceptability of Electronics Assemblies</td>
      </tr>
      <tr>
        <td>2017.06.:</td>
        <td>Viscom</td>
        <td>Basic Programming AXI</td>
      </tr>
      <tr>
        <td>2017.06.:</td>
        <td>Viscom</td>
        <td>Basic Programming SI</td>
      </tr>
      <tr>
        <td>2017.05.:</td>
        <td>IPC-A-600</td>
        <td>Acceptability of Printed Boards Training</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h3>Skills</h3>
  <table cellspacing="10">
    <tbody>
      <tr>
        <td>
          <table>
            <tr>
              <td>HTML</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>CSS</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>JavaScript</td>
              <td>⭐⭐</td>
            </tr>
            <tr>
              <td>Python</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>WordPress</td>
              <td>⭐⭐⭐</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>SQL</td>
              <td>⭐⭐</td>
            </tr>
            <tr>
              <td>Linux / Scripting</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>XSLT</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>Docker</td>
              <td>⭐⭐⭐</td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h3>Studies</h3>
  <ul>
    <li>Veszprémi Szakképzési Centrum</li>
    <ul>
      <li>Electronics Technician (54 523 02)</li>
    </ul>
    <li>
      Táncsics Mihány Szakközépiskola, Szakiskola és Kollégium
    </li>
    <ul>
      <li>Electronics Class</li>
      <li>Matura Exam</li>
    </ul>
  </ul>
  <hr>
  <a href="my-hobbies.html">My Hobbies</a>
  <a href="contact-me.html">Contact Me</a>
</body>

</html>