/* General styles */

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.my-box {
  padding: 0 15%;
}

.my-main-col {
  background-color: #ff4c68;
}

.my-alt-col {
  background-color: #ef8172;
}

.my-white {
  background-color: white;
  color: black;
}

.my-btn {
  margin: 0 10px 20px 0;
  padding: 10px 20px;
}

.my-divider {
  padding-bottom: 150px;
  padding-top: 150px;
}

.my-text-large {
  font-size: 3.5rem;
  line-height: 1.5;
}

.my-text-muted {
  color: #8f8f8f;
}

/* Header */

#my-nav .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

/* Hero section */

#my-hero {
  padding-bottom: 150px;
}

.my-hero-img {
  position: relative;
}

#my-hero img {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

/* Marketing section */

#my-marketing {
  position: relative;
  z-index: 1;
}

#my-marketing i {
  color: #ef8172;
}

#my-marketing i:hover {
  color: #ff4c68;
  transition: 0.5s;
}

#my-marketing h2 {
  font-size: 2rem;
}

/* Testimonials section */

.my-testimonial-content {
  font-size: 3rem;
  font-weight: 500;
}

.my-testimonial-author img {
  border-radius: 100%;
  max-width: 10%;
}

.my-testimonial-author p {
  display: inline-block;
}

/* Partners section */

#my-partners {
  padding-bottom: 150px;
}

#my-partners img {
  margin: 0 20px;
  max-width: 15%;
}

/* Pricing section */

.my-pricing-title {
  margin-bottom: 100px;
}

#my-pricing h3 {
  font-weight: 500;
}

#my-pricing h4 {
  font-size: 2.5rem;
}

/* Footer */

#my-footer a {
  color: black;
}

#my-footer a:hover {
  color: #ff4c68;
  transition: 0.5s;
}

@media (max-width: 991px) {

  #my-hero img {
    position: static;
    transform: rotate(0);
  }

}